# Python cache
__pycache__/
.pytest_cache/
*.pyc

# Virtual environment
myenv/
venv/

# Chroma database
chroma_db/
vanna_chroma/

# Local docs if needed
docs/

# Environment files
.env

# VS Code
.vscode